<h1 style="color: #168ce0">Menu</h1>
<p>Make your choice:</p>
<% @categories.each do |category| %>
  <section id="<%= to_underscore(category) %>">
    <h3 style="color: #a03020"><%= category.pluralize %></h3>
    <% @products.each do |product| %>
      <% if product.category == category %>
        <div id="product-<%= product.id %>">
          <h5>
            <%= "#{product.name} - #{product.price} kr" %>
          </h5>
          <p>
            <%= product.description %>
          </p>
          <form action="/order_create" method="post">
            <input type="hidden" name="product_id" value="<%= product.id %>">
            <input type="submit" value="Order">
          </form>

        </div>

      <% end %>
    <% end %>
  </section>
<% end %>
